<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove index.php da URL
    RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
    RewriteRule ^(.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

    # Redireciona requisições que não são arquivos ou diretórios existentes para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>